* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}
.container {
  display: grid;
  text-align: center;
}

.nav {
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  font-size: 25px;
  color: darkolivegreen;
}

h2 {
  font-size: 22px;
  padding-top: 10px;
  text-align: center;
  color: tan;
}

li {
  display: inline-block;
  list-style-type: none;
}

div {
  font-size: 22px;
  color: tan;
}

#pending-tasks {
  text-align: center;
}

#new-task {
  margin-left: 20px;
  text-align: left;
}

#add-button {
  color: darkred;
  border-style: hidden;
}

#new-task-input {
  width: 300px;
  text-align: center;
}

#completed-button {
  margin-right: 15px;
}

.button {
  font-size: 10px;
  background-color: transparent;
}
